body{
    background-image: url(https://raw.githubusercontent.com/Rasel19997/my-img/main/sunset-1373171_1280.webp);
}
a{
    color:darkmagenta;
    font-size: 50px;
    text-align: center;
    font-style: normal;
}
